<app-header></app-header>
<div class="login-container">
  <mat-card class="login-card">
    <mat-card-content>
      <button mat-raised-button color="warn" (click)="loginWithGoogle()">
        <img src="assets/google.svg">
        Login Com Google
      </button>
    </mat-card-content>
  </mat-card>
</div>
