<mat-toolbar color="primary" class="mb-4 custom-toolbar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-6 col-md-8">
        <img src="assets/central-ajuda.svg" width="120" alt="Logo" class="logo">
        Central de Ajuda
      </div>
      <div class="col-6 col-md-4 text-end">
        <p *ngIf="userName">Bem Vindo, {{ userName }}!</p>
        <button mat-button (click)="redirectToTickets()">Início</button>
        <button mat-button color="secondary" (click)="onLogout()">Sair</button>
      </div>
    </div>
  </div>
</mat-toolbar>
