<app-header></app-header>
<mat-toolbar color="toolbar-search" class="toolbar-search">
  <div class="balance-container"></div>

  <div class="search-container">
    <mat-form-field appearance="fill" class="search-field">
      <mat-label>Pesquise por ID ou Assunto</mat-label>
      <input matInput [(ngModel)]="filter" (keyup)="onFilterChange($event)">
      <mat-icon color="green" matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <div class="new-ticket-btn-container">
    <button mat-raised-button color="dark-blue-btn" class="new-ticket-btn" (click)="openNewTicketModal()">
      Novo Ticket
    </button>
  </div>
</mat-toolbar>

<div class="ticket-grid" *ngIf="tickets.length > 0; else noTickets">
  <mat-card class="ticket-card" *ngFor="let ticket of tickets">
    <mat-card-header>
      <mat-card-title class="cor-fonte">{{ ticket.subject }}</mat-card-title>
      <mat-card-subtitle class="cor-fonte">Ticket ID: {{ ticket.id }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ ticket.description }}</p>
      <mat-chip [ngClass]="{'chip-open': ticket.status === 'OPEN', 'chip-closed': ticket.status === 'CLOSED'}" selected>
        {{ ticket.status }}
      </mat-chip>
    </mat-card-content>
    <mat-card-actions class="card-actions-end">
      <button mat-button (click)="openTicketDetails(ticket)">
        <mat-icon>visibility</mat-icon> View
      </button>
      <a *ngIf="ticket.status === 'CLOSED' && !ticket.hasFeedback" (click)="openFeedbackModal(ticket)"
        class="feedback-link">
        Provide Feedback<mat-icon>feedback</mat-icon>
      </a>
      <button mat-button *ngIf="ticket.status === 'OPEN' && userInfo.roles.includes('MANAGER')" (click)="closeTicket(ticket)" class="close-ticket-btn">
        <mat-icon>lock</mat-icon> Close
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="pagination">
  <mat-paginator [length]="totalTickets" [pageSize]="12" [pageSizeOptions]="[8, 12, 24]" (page)="onPageChange($event)">
  </mat-paginator>
</div>

<ng-template #noTickets>
  <h1 class="no-tickets">You have no tickets yet.</h1>
</ng-template>

<!-- <div class="ticket-list" *ngIf="tickets.length > 0; else noTickets">
  <mat-card class="ticket-card" *ngFor="let ticket of tickets">
    <mat-card-header>
      <mat-card-title class="cor-fonte">{{ ticket.subject }}</mat-card-title>
      <mat-card-subtitle class="cor-fonte">Ticket ID: {{ ticket.id }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ ticket.description }}</p>
      <mat-chip [ngClass]="{'chip-open': ticket.status === 'OPEN', 'chip-closed': ticket.status === 'CLOSED'}" selected>
        {{ ticket.status }}
      </mat-chip>
    </mat-card-content>
    <mat-card-actions class="card-actions-end">
      <button mat-button (click)="openTicketDetails(ticket)">
        <mat-icon>visibility</mat-icon> View
      </button>
      <a *ngIf="ticket.status === 'CLOSED' && !ticket.hasFeedback" (click)="openFeedbackModal(ticket)"
        class="feedback-link">
        Provide Feedback<mat-icon>feedback</mat-icon>
      </a>
      <button mat-button *ngIf="ticket.status === 'OPEN' && userInfo.roles.includes('MANAGER')" (click)="closeTicket(ticket)" class="close-ticket-btn">
        <mat-icon>lock</mat-icon> Close
      </button>
    </mat-card-actions>

  </mat-card>
</div>

<div class="pagination">
  <mat-paginator [length]="totalTickets" [pageSize]="12" [pageSizeOptions]="[8, 12, 24]" (page)="onPageChange($event)">
  </mat-paginator>
</div>

<ng-template #noTickets>
  <h1 class="no-tickets">You have no tickets yet.</h1>
</ng-template> -->
